---
interface Props {
  LINK: string;
  ALT: string;
}

const { LINK, ALT } = Astro.props;
---

<div class="hidden duration-700 ease-in-out" data-carousel-item>
  <img
    src={LINK}
    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    alt={ALT}
  />
</div>
