---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/UI/SectionContainer.astro";
import Hero from "@/components/aboutMe/Hero.astro";
import AboutMe from "@/components/aboutMe/AboutMe.astro";
import ScrollIndicator from "@/components/UI/ScrollIndicator.astro";
---

<Layout title="elvinlab">
  <SectionContainer
    class="px-4 z-20 mt-16 md:mt-[120px] mb-6 flex flex-col justify-start items-center sm:flex-row sm:gap-x-16"
  >
    <Hero />
  </SectionContainer>

  <SectionContainer>
    <AboutMe />
  </SectionContainer>

  <SectionContainer
    class="flex mt-8 md:mt-15 flex-col justify-center items-center"
  >
    <ScrollIndicator />
  </SectionContainer>

  <SectionContainer class="">
    <div id="invisibleDiv" class="text-4xl text-center">
      <p>Site under construction</p>
      <p>😌</p>
    </div>
  </SectionContainer>
  <SectionContainer>
    <div id="invisibleDiv" class="text-5xl"></div>
  </SectionContainer>
</Layout>

<style>
  #invisibleDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #invisibleDiv p {
    margin: 10px; /* Espacio alrededor del texto */
  }
</style>
