---
import Language from "@/components/icons/LanguageIcon.astro";
import { languages } from "@/i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="relative inline-block text-left">
  <button
    class="language-button rounded-3xl border p-1 border-zinc-400 dark:border-zinc-400 font-bold shadow-sm hover:bg-orange-200 dark:hover:bg-zinc-800 transition-all duration-300"
  >
    <Language class="h-8 w-8" />
  </button>
  <ul
    class="hidden absolute right-0 z-10 mt-2 origin-top-right rounded-md border border-zinc-400 dark:border-zinc-700 bg-orange-50 dark:bg-zinc-800 shadow-xl ring-1 ring-black ring-opacity-5 focus:outline-none divide-zinc-400 dark:divide-zinc-700 hidden-language-menu"
  >
    {
      Object.entries(languages).map(([langPrefix, langName]) => {
        return (
          <li>
            <a
              class="block px-4 py-2 text-sm hover:underline"
              href={translatePath("/", langPrefix)}
            >
              {langName}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>

<script is:inline>
  const languageButton = document.querySelector(".language-button");
  const languageOpenFromLang = document.querySelector(".hidden-language-menu");
  const burgerOpenFromlang = document.querySelector(".hidden-menu");

  languageButton?.addEventListener("click", () => {
    languageOpenFromLang?.classList.toggle("hidden");
    burgerOpenFromlang?.classList.add("hidden");
  });
</script>
