---
import Burguer from "@/components/icons/BurgerIcon.astro";
//import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="relative inline-block text-left lg:hidden">
  <button
    class="menu-button inline-flex justify-center items-center rounded-md border border-zinc-400 dark:border-zinc-400 p-1 font-bold shadow-sm hover:bg-orange-200 dark:hover:bg-zinc-800 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:ring-offset-gray-100 transition-all duration-300"
  >
    <Burguer class="h-8 w-8" />
  </button>
  <ul
    class="hidden absolute right-0 z-10 mt-2 origin-top-right rounded-md border border-zinc-400 dark:border-zinc-700 bg-orange-50 dark:bg-zinc-800 shadow-xl ring-1 ring-black ring-opacity-5 focus:outline-none divide-zinc-400 dark:divide-zinc-700 hidden-menu"
  >
    <li>
      {
        i18n.NAVBAR.map((route) => (
          <a
            href={route.PATH}
            aria-label={route.LABEL}
            class="block px-4 py-2 text-sm hover:underline"
          >
            {route.TITLE}
          </a>
        ))
      }

      <button
        class="block px-4 py-2 text-sm hover:underline"
        aria-label={t("nav.comments.label")}
      >
        {t("nav.comments.title")}
      </button>

      <!-- <a
        class="block px-4 py-2 text-sm hover:underline"
        href={getRelativeLocaleUrl(currentLocale ?? "", t("nav.comments.path"))}
        aria-label={t("nav.comments.label")}
      >
        {t("nav.comments.title")}
      </a> -->
    </li>
  </ul>
</div>

<script>
  const burgeButton = document.querySelector(".menu-button");
  const burgerOpen = document.querySelector(".hidden-menu");

  const languageOpen = document.querySelector(".hidden-language-menu");
  burgeButton?.addEventListener("click", () => {
    burgerOpen?.classList.toggle("hidden");
    languageOpen?.classList.add("hidden");
  });
</script>
