---
import NavarList from "@/components/navbar/NavarList.astro";
import NavbarItems from "@/components/navbar/NavbarItems.astro";
import MenuButton from "@/components/navbar/MenuButton.astro";
import LanguageToggle from "@/components/navbar/LanguageToggle.astro";
import ThemeToggle from "@/components/navbar/ThemeToggle.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
//import { getRelativeLocaleUrl } from "astro:i18n";
import { getI18N } from "@/i18n";
import Notification from "../UI/Notification.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Notification msg="Próximamente 🚀" />
<navbar
  class="fixed top-0 left-0 w-full h-16 backdrop-blur-sm duration-300 z-[500] border-b border-logoFontLight dark:border-logoFontDark"
>
  <div class="w-[90%] mx-auto h-full flex justify-center items-center">
    <a
      href="/"
      class="font-protest text-logoFontLight dark:text-logoFontDark text-4xl"
    >
      Elvinlab
    </a>
    <nav class="w-full flex justify-center items-center gap-4">
      <NavbarItems>
        {
          i18n.NAVBAR.map((route) => (
            <NavarList
              href={route.PATH}
              label={route.LABEL}
              title={route.TITLE}
            />
          ))
        }
        <li>
          <button
            id="btn-comment"
            class="px-2 hover:underline"
            aria-label={t("nav.comments.label")}
          >
            {t("nav.comments.title")}
          </button>
        </li>

        <!-- <NavarList
          href={getRelativeLocaleUrl(
            currentLocale ?? "",
            t("nav.comments.path")
          )}
          label={t("nav.comments.label")}
          title={t("nav.comments.title")}
        /> -->
      </NavbarItems>
    </nav>

    <div class="flex justify-center items-center gap-2">
      <ThemeToggle />
      <LanguageToggle />
      <MenuButton />
    </div>
  </div>
</navbar>
<script is:inline>
  const btnComment = document.getElementById("btn-comment");
  const btnNotificationFromNavbar = document.getElementById("btn-notification");

  btnComment.addEventListener("click", function () {
    btnNotificationFromNavbar.classList.toggle(
      "hidden",
      !btnNotificationFromNavbar.classList.contains("hidden")
    );

    setTimeout(() => {
      btnNotificationFromNavbar.classList.toggle("hidden", true);
    }, 3000);
  });
</script>
