---
import NavarList from "./NavarList.astro";
import NavbarItems from "./NavbarItems.astro";
import MenuButton from "./MenuButton.astro";
import LanguageToggle from "./LanguageToggle.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { NavItems } from "../../utils/NavItems";
---

<navbar
  class="fixed top-0 left-0 w-full h-16 backdrop-blur-sm duration-300 z-[500] border-b border-logoFontLight dark:border-logoFontDark"
>
  <div class="w-[90%] mx-auto h-full flex justify-center items-center">
    <a
      href="/"
      class="font-protest text-logoFontLight dark:text-logoFontDark text-4xl"
    >
      Elvinlab
    </a>
    <nav class="w-full flex justify-center items-center gap-4">
      <NavbarItems>
        {
          NavItems.map((route) => (
            <NavarList href={route.path} label={route.title} />
          ))
        }
      </NavbarItems>
    </nav>

    <div class="flex justify-center items-center gap-2">
      <ThemeToggle />
      <LanguageToggle />
      <MenuButton />
    </div>
  </div>
</navbar>
