---
import SocialMedia from "./SocialMedia.astro";
import EmailContact from "./EmailContact.astro";
---

<div class="text-center md:mb-11">
  <h2 class="text-xl lg:text-2xl text-balance text-black dark:text-white">
    <span>+3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <span class="text-yellow-800 dark:text-yellow-200">
      Sed malesuada faucibus quam vel vulputate</span
    >
    <span class="text-red-800 dark:text-red-200">
      sit amet consectetur elit tempor. Morbi vitae nulla sit amet elit
      condimentum vehicula. Sed quis lorem at sem viverra volutpat.
    </span>
  </h2>
</div>
<div class="flex flex-col justify-center items-center">
  <SocialMedia class="mt-6" />
  <EmailContact class="mt-6" />
</div>
