---
import SocialMedia from "@/components/aboutMe/SocialMedia.astro";
import EmailContact from "@/components/aboutMe/EmailContact.astro";
import { getI18N } from "@/i18n";
import Notification from "../UI/Notification.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Notification
  id="notification-copy-btn"
  msg={i18n.BUTTONS.COPY_BUTTON_NOTIFICATION}
/>

<div class="m-8">
  <h2 class="text-xl lg:text-xl text-pretty text-black dark:text-white">
    <span> {i18n.ABOUT_ME.TEXT_SECTION_1}</span>
    <span class="text-yellow-800 dark:text-yellow-200">
      {i18n.ABOUT_ME.TEXT_SECTION_2}
    </span>
    <span class="text-red-800 dark:text-red-200">
      {i18n.ABOUT_ME.TEXT_SECTION_3}
    </span>
  </h2>
</div>
<div class="flex flex-col justify-center items-center">
  <SocialMedia />
  <EmailContact />
</div>
