---
import SocialMedia from "./SocialMedia.astro";
import EmailContact from "./EmailContact.astro";
---

<div class="text-center md:mb-11">
  <h2 class="text-xl lg:text-2xl text-balance text-black dark:text-white">
    <span
      >Ingeniero en Sistemas de la Información con más de 3 años de experiencia
      en desarrollo de software y análisis de datos.</span
    >
    <span class="text-yellow-800 dark:text-yellow-200">
      Habilidades destacadas en pensamiento crítico, resolución de problemas,
      trabajo en equipo y liderazgo.
    </span>
    <span class="text-red-800 dark:text-red-200">
      Experto en optimización y mantenimiento de aplicaciones.
    </span>
  </h2>
</div>
<div class="flex flex-col justify-center items-center">
  <SocialMedia class="mt-6" />
  <EmailContact class="mt-6" />
</div>
