---
import SocialMedia from "./SocialMedia.astro";
import EmailContact from "./EmailContact.astro";
---

<div class="text-center">
  <h2 class="text-xl lg:text-2xl text-balance text-black dark:text-white">
    <span>+3 año de experiencia trabajando en</span>
    <span class="text-yellow-800 dark:text-yellow-200">
      desarrollo de software de alto nivel</span
    >
    <span class="text-red-800 dark:text-red-200">
      tanto con clientes nacionales e internacionales en todas las etapas del
      desarrollo de proyectos.
    </span>
  </h2>
</div>
<div class="flex flex-col justify-center items-center">
  <SocialMedia class="mt-6" />
  <EmailContact class="mt-6" />
</div>
