---
import SocialMedia from "@/components/aboutMe/SocialMedia.astro";
import EmailContact from "@/components/aboutMe/EmailContact.astro";
---

<div class="text-center md:mb-11">
  <h2 class="text-xl lg:text-2xl text-balance text-black dark:text-white">
    <span
      >Desarrollador de Software con +3 años de experiencia en proyectos de alto
      impacto y análisis de datos.</span
    >
    <span class="text-yellow-800 dark:text-yellow-200">
      Especializado en ETL, optimización de rendimiento y seguridad.
    </span>
    <span class="text-red-800 dark:text-red-200">
      Apasionado por la colaboración y la implementación de tecnologías
      innovadoras para resolver desafíos complejos.
    </span>
  </h2>
</div>
<div class="flex flex-col justify-center items-center">
  <SocialMedia class="mt-6" />
  <EmailContact class="mt-6" />
</div>
