---
import CopyButton from "@/components/UI/CopyButton.astro";
import SendIcon from "@/components/icons/SendIcon.astro";
import { EMAIL } from "@/consts";
---

<div
  class="flex items-center border border-slate-300 dark:border-slate-700 rounded-lg overflow-hidden bg-white/50 dark:bg-slate-800/50"
>
  <input
    class="text-slate-600 dark:text-slate-400 bg-transparent text-center text-sm px-4 py-2 w-[285px]"
    disabled
    value={EMAIL}
    placeholder={EMAIL}
  />
  <CopyButton />
  <a
    title="Elvin Gonzalez"
    aria-label="Send email to Elvin Gonzalez"
    href={`mailto:${EMAIL}`}
    class="px-3 py-2.5 text-slate-500 dark:text-slate-400 hover:text-accent-dark dark:hover:text-accent transition-colors duration-200"
  >
    <SendIcon class="size-4" />
  </a>
</div>
