---
import CopyButton from "../UI/CopyButton.astro";
import SendIcon from "../icons/SendIcon.astro";
---

<div
  class="flex items-center my-4 mr-[13px] bg-[#1e2b2d] dark:bg-neutral-900 md:w-[43%] rounded-md"
>
  <input
    class="text-[#bbbbbb] min-w-[85%] bg-transparent text-center text-xl"
    disabled
    value="elvinlab@outlook.com"
    placeholder="elvinlab@outlook.com"
  />
  <CopyButton />
  <a
    title="Elvin Gonzalez"
    aria-label="Elvin Gonzalez"
    href="mailto:elvinlab@outlook.com"
    class="bg-inherit py-3.5 rounded-md group"
  >
    <SendIcon
      class="text-white opacity-50 mr-5 group-hover:scale-110 group-hover:opacity-100 transition-all duration-300"
    />
  </a>
</div>
