---
import CopyButton from "@/components/UI/CopyButton.astro";
import SendIcon from "@/components/icons/SendIcon.astro";
import { EMAIL } from "@/consts";
---

<div class="flex items-center my-2 bg-[#1e2b2d] dark:bg-neutral-900 rounded-md">
  <input
    class="text-[#bbbbbb] bg-transparent text-center text-xl"
    disabled
    value={EMAIL}
    placeholder={EMAIL}
  />
  <CopyButton />
  <a
    title="Elvin Gonzalez"
    aria-label="Elvin Gonzalez"
    href={`mailto:${EMAIL}`}
    class="bg-inherit py-3.5 rounded-md group"
  >
    <SendIcon
      class="text-white opacity-50 mr-5 group-hover:scale-110 group-hover:opacity-100 transition-all duration-300"
    />
  </a>
</div>
