---
import Badge from "../UI/Badge.astro";
---

<img
  class="size-[150px] mb-5"
  src="https://hackmd.io/_uploads/rJ24XFNZR.png"
  alt="Elvin Gonzalez Avatar"
/>

<div>
  <h1
    class="title-line-height mb-4 text-secondary dark:text-primary text-center text-4xl secondary-to-white dark:primary-to-white sm:text-5xl sm:text-start md:text-4xl"
  >
    Hola, soy Elvin Gonzalez
  </h1>
  <div class="flex justify-center sm:justify-start items-center">
    <Badge class=""> Disponible para trabajar</Badge>
  </div>
</div>
