---
import SocialPill from "@/components/UI/SocialPill.astro";
import LinkedInIcon from "@/components/icons/LinkedinIcon.astro";
import GitHubIcon from "@/components/icons/GithubIcon.astro";
import CvIcon from "@/components/icons/CvIcon.astro";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

import {
  LINKEDIN_LINK,
  RESUME_ES_LINK,
  RESUME_EN_LINK,
  GITHUB_LINK,
} from "@/consts";

const social = [
  {
    media: "LinkedIn",
    link: LINKEDIN_LINK,
    icon: LinkedInIcon,
  },
  {
    media: i18n.BUTTONS.RESUME,
    link: currentLocale === "es" ? RESUME_ES_LINK : RESUME_EN_LINK,
    icon: CvIcon,
  },
  {
    media: "GitHub",
    link: GITHUB_LINK,
    icon: GitHubIcon,
  },
];

const { class: className } = Astro.props;
---

<nav class={`flex  items-center ${className}`}>
  {
    social.map((socialItem) => (
      <SocialPill to={socialItem.link}>
        <socialItem.icon class="size-5 mr-1" />
        {socialItem.media}
      </SocialPill>
    ))
  }
</nav>
