---
import SocialPill from "../UI/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedinIcon.astro";
import GitHubIcon from "../icons/GithubIcon.astro";
import CvIcon from "../icons/CvIcon.astro";

const social = [
  {
    media: "LinkedIn",
    link: "https://www.linkedin.com/in/elvinlab/",
    icon: LinkedInIcon,
  },
  {
    media: "Resume",
    link: "https://drive.google.com/file/d/1cDn7LvYyJjKAf6_APg4S8DCt-HQ2oq9j/view",
    icon: CvIcon,
  },
  {
    media: "GitHub",
    link: "https://github.com/elvinlab",
    icon: GitHubIcon,
  },
];

const { class: className } = Astro.props;
---

<nav class={`flex  gap-3 ${className}`}>
  {
    social.map((socialItem) => (
      <SocialPill to={socialItem.link}>
        <socialItem.icon class="size-6 mr-1" />
        {socialItem.media}
      </SocialPill>
    ))
  }
</nav>
