<div class="flex items-center">
  <span
    class="relative inline-flex overflow-hidden rounded-full p-[2px] transition-transform hover:scale-105 duration-300"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#5eead4_0%,#0d9488_50%,#5eead4_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-xs font-medium text-accent-dark bg-white rounded-full cursor-pointer dark:bg-[#0a0f1e] dark:text-accent backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
