---
import CopyIcon from "@/components/icons/CopyIcon.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<button
  id="copy-button"
  title={i18n.BUTTONS.COPY_BUTTON_LABEL_TILE}
  aria-label={i18n.BUTTONS.COPY_BUTTON_LABEL_TILE}
  class="px-2 py-2 text-slate-500 dark:text-slate-400 hover:text-accent-dark dark:hover:text-accent transition-colors duration-200 border-l border-slate-300 dark:border-slate-700"
>
  <CopyIcon class="size-4" />
</button>

<script is:inline>
  function copyEmailToClipBoard() {
    const EMAIL = "elvinlab@outlook.com";
    const copyButton = document.getElementById("copy-button");
    const btnNotificationFromCopyBtn = document.getElementById(
      "notification-copy-btn",
    );
    btnNotificationFromCopyBtn.classList.toggle(
      "hidden",
      !btnNotificationFromCopyBtn.classList.contains("hidden"),
    );

    setTimeout(() => {
      btnNotificationFromCopyBtn.classList.toggle("hidden", true);
    }, 3000);

    return window.navigator.clipboard.writeText(EMAIL);
  }

  document
    .getElementById("copy-button")
    ?.addEventListener("click", copyEmailToClipBoard);
</script>
