---
interface Props {
  msg: string;
}

const { msg } = Astro.props;
---

<button
  id="btn-notification"
  class="hidden max-w-s absolute m-4 lg:right-5 top-20 p-3 rounded-md border border-zinc-400 dark:border-zinc-700 bg-orange-50 dark:bg-zinc-800 shadow-xl ring-1 ring-black ring-opacity-5 focus:outline-none divide-zinc-400 dark:divide-zinc-700 transition duration-300"
>
  <span class="relative h-3 w-3">
    <span
      class="animate-ping absolute h-full w-3/5 rounded-full bg-orange-400 opacity-75"
    ></span>
    <span class="relative inline-flex rounded-full h-3 w-3 bg-orange-500"
    ></span>
  </span>
  <span class="text-md">{msg}</span>
</button>
