---
interface Props {
  id: string;
  msg: string;
}

const { id, msg } = Astro.props;
---

<span
  id={id}
  class="hidden max-w-xs fixed m-4 lg:right-5 top-20 z-[600] p-3 rounded-lg border border-slate-200 dark:border-slate-700 bg-white dark:bg-slate-900 shadow-lg transition duration-300"
>
  <span class="relative h-3 w-3">
    <span class="animate-ping absolute h-full w-3/5 rounded-full bg-accent opacity-75"></span>
    <span class="relative inline-flex rounded-full h-3 w-3 bg-accent-dark"></span>
  </span>
  <span class="text-sm text-slate-700 dark:text-slate-300 ml-1">{msg}</span>
</span>
