<div class="box mt-8">
  <span class="box__arrow border-b-slate-400 border-r-slate-400 dark:border-b-slate-600 dark:border-r-slate-600"></span>
  <span class="box__arrow border-b-slate-400 border-r-slate-400 dark:border-b-slate-600 dark:border-r-slate-600"></span>
  <span class="box__arrow border-b-slate-400 border-r-slate-400 dark:border-b-slate-600 dark:border-r-slate-600"></span>
</div>

<style>
  .box .box__arrow {
    display: block;
    width: 16px;
    height: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 2px;
    transform: rotate(45deg);
    margin: -8px;
    animation: animate 2s infinite;
  }

  .box .box__arrow:nth-child(2) {
    animation-delay: -0.2s;
  }

  .box .box__arrow:nth-child(3) {
    animation-delay: -0.4s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-16px, -16px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(16px, 16px);
    }
  }
</style>
