---
type Props = {
  to: string;
};

const { to } = Astro.props;
---

<a
  href={to}
  target="_blank"
  class="flex items-center bg-neutral-900 text-neutral-300 rounded-full py-2 px-3 transition-transform hover:scale-110 duration-500"
  {...Astro.props}
>
  <slot />
</a>
